<div *ngIf="isEdit">
        <div class="d-flex  flex-row
                    justify-content-center align-items-center"> 
  
            <input [(ngModel)]="newTask" type="text" 
                    value="" class="inputdefault" placeholder="Tag"> 
  
            <button  (click)="addToList()" class="ml-2 mr-2"  style="text-align:center;border-radius: 4px;"> 
                Add Tag 
            </button> 
        </div> 
    <div *ngFor="let x of items; let index = index;" 
            class="" style="height:25px;"> 
  
  
        <div class="d-flex flex-row
                    justify-content-center align-items-center 
                    "> 
  
            <div style="width:8rem;text-align:center;">{{x}}</div> 
            <button (click)="deleteTask(index)" class="btn btn-xs"  style="text-align:center;"> 
                X
            </button> 
            
        </div> 
          
    </div> 
</div>
<div *ngIf="!isEdit">
    <div class="d-flex flex-column justify-content-center align-items-center ">
        <h2 class="d-flex justify-content-center align-items-center mb-0"><strong>Tags</strong></h2>
        <div *ngFor="let x of items; let index = index;" 
                class="" style="height:25px;"> 
            <div class="d-flex flex-row
                        justify-content-center align-items-center 
                        "> 
                <div style="width:8rem;text-align:center;">{{x}}</div> 
            </div> 
        </div> 
    </div>
</div>
