.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
  }
  h2,input,textarea,button,label,div{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}