<!DOCTYPE HTML>
<html>
	<head>
		<title>Pointer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<amplify-authenticator includeGreetings={false}></amplify-authenticator>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<span class="avatar"><img src="../../assets/images/avatar.jpg" alt="" /></span>
						<h1>Profile of <strong>{{userName}}</strong></h1>
						<h1>{{response}}</h1>
					</header>
				<!-- Main -->
					<section id="main">

						<!-- Thumbnails -->
							<section class="thumbnails">
								<div>
									<app-list (click)="openDialog()" ></app-list>
									<app-list ></app-list>
								</div>
								<div>
									<app-list ></app-list>
									<app-list ></app-list>
									<app-list ></app-list>
								</div>
								<div>
									<app-list ></app-list>
									<app-list ></app-list>
								</div>
							</section>

					</section>

				<!-- Footer -->
					<footer id="footer">
						<p>A webapp by Justin Ying</p>
					</footer>

			</div>

		<!-- Scripts -->

	</body>
</html>