<!DOCTYPE HTML>
<html>
	<head>
		<title>Pointer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<amplify-authenticator includeGreetings={false}></amplify-authenticator>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a class="specialButton"><span class="avatar"><img src="{{user.image}}" alt="" (click)="openProfilePopup()"/></span></a>
						<h1>Profile of <strong>{{userName}}</strong></h1>
					</header>
				<!-- Main -->
					<section id="main">
						<div class="d-flex flex-column justify-content-center ">
							
								<div class="d-flex justify-content-center">
									<section class="thumbnails">
									<div class="d-flex flex-column" *ngFor ="let reviewRow of group">
										
										<div >
											<app-list *ngFor ="let review of reviewRow" (click)="openDialog(review)" [currentReview]="review" ></app-list>
										</div>
									
									</div>
								</section>
								</div>
							<div class="d-flex justify-content-center">
								<button type="button" class="btn btn-add btn-circle btn-xl" (click)="newReview()">+</button>
							</div>
						</div>
					</section>
				<!-- Footer -->
					<footer id="footer">
						<p>A webapp by Justin Ying</p>
					</footer>

			</div>

		<!-- Scripts -->

	</body>
</html>